.banner__background{
    width: 100vw;
    height: 100vh;
    background-color: #029af0;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
p{
    margin: 0px !important;
}


.cloud, .cloud_two, .cloud_three, .cloud_four{
    border-radius:50%;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    background: #FFFFFF;
    height: 50px; width: 60px;
    box-shadow:
          #FFFFFF 65px -15px 0 -5px, 
          #FFFFFF 25px -25px, 
          #FFFFFF 30px 10px, 
          #FFFFFF 60px 15px 0 -10px, 
          #FFFFFF 85px 5px 0 -5px;
  }
  .cloud{
    top: 7%; left: 95%;
  }
  
  .cloud_two{
      top: 9%; left: 31%;
    
  }
  
  .cloud_three{
      top: 42%; left: 51%;
    
  }

  .cloud_four{
    top: 62%; left: 31%;
  
}


.banner_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 56px;
    position: relative;
    z-index: 100;
}
.banner_tagline{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.banner_row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.banner_heading{
    color: #fffffd;
    font-weight: 800;
    font-size: 40px;
}
.banner_smallTagLine{
    color:black;
    margin: 0px;
    background: #fffffd;
    padding: 10px;
    border-radius: 1px;
    padding-right: 20px;
    /* border-top: 10px solid #fffffd; */
    border-right: 10px solid transparent;
}
.banner__subHeading{
    color: #fffffd;
    opacity: 0.7;
}
.banner__largeClouds1{
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-image: url("../asset/images/cloud.png") ;
}

.banner_squareCloud1{
    background-color: #7eccfa;
    height: 150px;
    width: 150px;
    border-radius: 27px;
    opacity: 0.7;
    position: absolute;
    right: 189px;
    top: 109px;
  }
  .banner_squareCloud2{
    background-color: #bae4fc;
    height: 150px;
    width: 150px;
    border-radius: 27px;
    opacity: 0.7;
    position: absolute;
    right: 125px;
    top: 150px;
  }

  .banner_bottomImg{
        opacity: 1;
        position: absolute;
        bottom: 0px;
        height: 250px;
        width: 100%;

  }

  @media (max-width: 1128px) {
    .cloud{
        top: 7%; left: 95%;
      }
      
      .cloud_two{
        top: 1%;
        left: 1%;
      }
      
      .cloud_three{
        top: 34%;
        left: 82%;
        
      }
    
      .cloud_four{
        top: 75%;
        left: 8%;
      
    }
    .banner_squareCloud1, .banner_squareCloud2{
        height: 120px;
        width: 120px;
    }
    .banner_squareCloud1{
        right: 63px;
        top: 470px;
    }
    .banner_squareCloud2{
        right: 16px;
        top: 504px;

    
    }
    .banner_content{
        gap:0px;
    }
    .banner_bottomImg{
        height: 70px;

  }
  }